:root{
    --black: #0a0809;
    --ijo: #c9f422;
    --pink: #ed89fb;
    --crem: #c9d1f5;

    --pro: "Tac One", sans-serif;
    --txt: "Roboto", sans-serif;
    --cad: monospace;


    --clamp-big: clamp(3rem, 15vw, 12rem);
    --clamp-med: clamp(4rem, 10vw, 8rem);
    --clamp-sub: clamp(2.7rem, 5vw, 6rem);
    --clamp-txt: clamp(0.7rem, 1.2vw, 1rem);
    --clamp-btn: clamp(0.8rem, 2.2vw, 1.3rem);
}

a {
    font-size: var(--clamp-btn);
    font-family: var(--txt);
    color: var(--pink);
    text-decoration: none;
}

/* navbar */
.wrap-nav {
    margin: auto;
    margin: 10px auto;
    padding: 8px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--pink);
    border-radius: 5px;
}
.wrap-nav a:hover {
    text-decoration: underline;
}
.wrap-nav .radius {
    margin: 0 6px;
    padding: 4px 15px;
    border: 1px solid var(--pink);
    border-radius: 5px;
}
.wrap-nav .radius:hover {
    color: var(--crem);
    background-color: var(--pink);
    text-decoration: none;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .4rem;
}
.logo {
    font-family: var(--pro);
    font-size: 2.3rem;
    font-weight: 900;
    margin: 0 3%;
}
.wrap-nav.footerz {
    gap: .4rem;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

/* worklist template */
#worksList {
    margin-top: 10%;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.wrap-work {
    width: 90vw;
    margin-bottom: 10%;

}
.img-work {
    width: 100%;
    height: 45vh;
    background-color: var(--ijo);
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    border: 1px solid var(--crem);
    border-radius: 5px;
}
.work-ads h3, p, a {
    margin: 5% 0;
}
.work-ads a {
    margin-top: .4rem;
    padding: 20px;
    text-align: center;
    font-size: var(--clamp-btn);
    color: var(--black);
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}
.work-ads a:hover {
    background-color: var(--ijo);
}











@media only screen and (min-width: 768px) {
    #worksList {
        flex-direction: row;
    }
    .wrap-work {
        width: 40vw;
    }


}