:root{
    --black: #0a0809;
    --ijo: #c9f422;
    --pink: #ed89fb;
    --crem: #c9d1f5;

    --pro: "Tac One", sans-serif;
    --txt: "Roboto", sans-serif;
    --cad: monospace;


    --clamp-big: clamp(3rem, 15vw, 12rem);
    --clamp-med: clamp(4rem, 10vw, 8rem);
    --clamp-sub: clamp(2.7rem, 5vw, 6rem);
    --clamp-txt: clamp(0.7rem, 1.2vw, 1rem);
    --clamp-btn: clamp(0.8rem, 2.2vw, 1.3rem);
}

body {
    background-color: var(--black);
    color: var(--crem);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--txt);
}

a {
    font-size: var(--clamp-btn);
    font-family: var(--txt);
    color: var(--pink);
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    font-family: var(--pro);
    font-size: var(--clamp-sub);
    line-height: 65%;
    text-align: center;
}

h3 {
    margin: 0;
    font-size: var(--clamp-sub);
    font-family: var(--pro);
    line-height: 70%;
    font-weight: 100;
}

p {
    margin: 0;
    line-height: 120%;
    font-size: var(--clamp-txt);
    font-family: var(--txt);
}


/* hero */
.hero {
    width: 100vw;
    overflow-x: hidden;
}
.responsive {
    padding: 5% 0;
}
.txt-1 {
    position: relative;
    top: 0;
    left: 0;
}
.txt-1 h1 {
    text-align: center;
    font-size: var(--clamp-big);
    line-height: 80%;
    color: var(--ijo);
}
.txt-1 h1 span {
    color: var(--pink);
}
.txt-1 img {
    width: 20%;
    position: absolute;
    top: 45%;
    right: 5%;
    transform: rotateZ(20deg);
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black));
}
.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cta p {
    width: 70%;
    margin-top: 5%;
    text-align: center;
}
.btn-cta {
    margin: 5%;
}
.btn-cta a {
    margin-top: .4rem;
    padding: 20px;
    font-size: var(--clamp-btn);
    font-weight: 100;
    text-align: center;
    color: var(--black);
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}
.btn-cta a:hover {
    background-color: var(--ijo);
}


/* DCARDGM */
.dungeon-ads {
    padding: 0 5%;
}
.dungeon-ads h3 {
    position: relative;
    top: 0;
    left: 0;
    color: var(--pink);
}
.dungeon-ads h3 span {
    color: var(--ijo);
}
.dungeon-ads h3 img {
    width: 50px;
}
.dungeon-ads p {
    margin-top: 5%;
    padding: 5%;
    background-color: var(--ijo);
    color: var(--black);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.wrap-about {
    background-color: var(--ijo);
    padding: 5%;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;

}
.col-about {
    width: 100%;
    margin: 15% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .4rem;
}
.promise-ads {
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: var(--black);
}
.promise-ads p {
    margin-top: 15px;
}
.img-ads {
    width: 80%;
    overflow: hidden;
    border-radius: 300px 300px 0 0;
    -webkit-border-radius: 300px 300px 0 0;
    -moz-border-radius: 300px 300px 0 0;
    -ms-border-radius: 300px 300px 0 0;
    -o-border-radius: 300px 300px 0 0;
}
.col-about img {
    width: 100%;
}

/* PRICE TAG */
.price-tag {
    margin: 20% auto;
}
.tit-price h1 {
    color: var(--pink);
}
.tit-price h3 {
    font-size: var(--clamp-sub);
    text-align: center;
    color: var(--ijo);
}
.tit-price p {
    margin-top: 10px;
    text-align: center;
    padding: 0 20%;
}
.wrap-price {
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.card-price {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 5%;
    border: 1px solid var(--crem);
    border-radius: 5px;
}

.tit-pack {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.tit-pack h1 {
    text-align: start;
    font-size: var(--clamp-sub);
    color: var(--pink);
}

.price-pack h3 {
    width: 100%;
    margin-top: 10px;
    font-size: clamp(2.5rem, 2vw, 3rem);
    font-weight: 100;
    text-align: center;
    color: var(--ijo);
}
.price-pack p {
    font-size: 2rem;
    text-decoration: line-through;
    text-align: start;
    margin-bottom: 1rem;
}
.price-pack a {
    width: 100%;
    margin: 1rem 0;
    padding: 10px;
    font-size: var(--clamp-btn);
    font-family: var(--txt);
    font-weight: 100;
    color: var(--black);
    background-color: var(--ijo);
    border: 0;
    border-radius: 5px;
}
.price-pack a:hover {
    background-color: var(--pink);
}

.feat .line-feat {
    width: 100%;
    height: 3px;
    background-color: var(--ijo);
    border-radius: 5px;
}
.feat ul {
    margin-top: 1rem;
    padding: 0;
}
.feat ul li {
    list-style: none;
    margin-bottom: .4rem;
    font-family: var(--txt);
    font-size: 1rem;
}

/* call action home */
.footer {
    width: 100%;
    position: absolute;
}
canvas {
    height: 0px;
    margin: 0;
    padding: 0;
}
.wrap-txt {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.wrap-txt {
    width: 100%;
    display: flex;
    justify-content: center;
}
.area-txt {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-txt a {
    margin-top: .4rem;
    padding: 20px;
    font-size: var(--clamp-btn);
    font-weight: 100;
    text-align: center;
    color: var(--black);
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}
.area-txt a:hover {
    background-color: var(--ijo);
}

.txt-footer {
    margin-top: 10%;
    text-align: center;
    color: var(--ijo);
}
.txt-footer h1 {
    font-size: 5rem;

}
.txt-footer span {
    color: var(--pink);
}
.txt-footer p {
    padding: 0 20%;
    margin-top: .4rem;
    font-size: var(--clamp-btn);
}


/* service.html */
.row-service {
    height: fit-content;
    margin-top: 20%;
    margin-bottom: 5rem;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.col-service {
    width: 100%;
    height: 100%;
    margin: .6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .4rem;
}
.detile-service {
    padding: 1rem 5%;
}
.detile-service p span {
    font-size: 1.2rem;
    font-weight: 900;
}
.detile-service ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: .4rem;
    color: var(--pink);
}
.detile-service ul li {
    list-style: none;
    margin-bottom: .4rem;
    font-size: var(--clamp-txt);
    padding: 5px 10px;
    color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 100px;
}
.img-service {
    width: 100%;
    height: 45vh;
    background-color: var(--ijo);
    background-position: 50%;
    background-size: contain;
    overflow: hidden;
    border: 1px solid var(--crem);
    border-radius: 5px;
}

/* guild.html */
.team {
    width: 90%;
    margin: 5%;
    margin-bottom: 30%;
}
.team img {
    width: 100%;
    border-radius: 5px;
}
.team p {
    text-align: center;
}

.team h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.team-member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}
.team-member p {
    text-align: left;
}
.team-member .img-team {
    width: 10rem;
    height: 10rem;
    background-color: var(--crem);
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1 / 1;
    border-radius: 300px 300px 0 0;
}
.cd {
    background-image: url(/images/illustrasi/cd-p.jpg);
}
.cd:hover {
    background-image: url(/images/illustrasi/cd.jpg);
}
.bd {
    background-image: url(/images/illustrasi/bd-p.jpg);
}
.bd:hover {
    background-image: url(/images/illustrasi/bd.jpg);
}
.fd {
    background-image: url(/images/illustrasi/fd-p.jpg);
}
.fd:hover {
    background-image: url(/images/illustrasi/fd.jpg);
}
.cm {
    background-image: url(/images/illustrasi/cm-p.jpg);
}
.cm:hover {
    background-image: url(/images/illustrasi/cm.jpg);
}




/* call action service.html, work.html, guild.html */
.call-action {
    margin-bottom: 25%;
}
.wrap-call {
    width: 100%;
    display: flex;
    justify-content: center;
}
.area-call {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-call a {
    margin-top: .4rem;
    padding: 20px;
    text-align: center;
    font-size: var(--clamp-btn);
    color: var(--black);
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}
.area-call a:hover {
    background-color: var(--ijo);
}

.txt-call {
    text-transform: uppercase;
    text-align: center;
    color: var(--ijo);
}
.txt-call span {
    color: var(--pink);
}
.txt-call p {
    text-transform: capitalize;
    margin-top: .4rem;
    font-size: var(--clamp-btn);
}







@media only screen and (min-width: 768px) {
    .hero {
        height: max-content;
    }
    .responsive {
        padding: 2% 0;
    }
    .txt-1 img {
        width: 15%;
        top: 50%;
        right: 15%;
    }
    .cta p {
        margin-top: 0;
    }
    .dungeon-ads h3 img {
        width: 100px;
    }
    .col-about {
        flex-direction: row;
    }
    .promise-ads {
        margin-top: 25%;
    }
    .wrap-price {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .row-service {
        flex-direction: row;
    }
    .rev {
        flex-direction: row-reverse;
    }
    .img-service {
    height: 65vh;
    }
    .txt-service {
        margin: 0 1rem;
    }
}
