:root{
    --black: #0a0809;
    --ijo: #c9f422;
    --pink: #ed89fb;
    --crem: #c9d1f5;

    --pro: "Tac One", sans-serif;
    --txt: monospace;

    --clamp-big: clamp(3rem, 15vw, 12rem);
    --clamp-med: clamp(4rem, 10vw, 8rem);
    --clamp-sub: clamp(2.7rem, 10vw, 6rem);
    --clamp-txt: clamp(0.7rem, 1.5vw, 1.9rem);
    --clamp-btn: clamp(0.7rem, 1vw, 1.8rem);
}

body {
    background-color: var(--black);
    color: var(--crem);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-size: var(--clamp-btn);
    font-family: var(--txt);
    color: var(--pink);
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    font-family: var(--pro);
    font-size: var(--clamp-sub);
    line-height: 65%;
    text-align: center;
}

h3 {
    margin: 0;
    font-size: var(--clamp-sub);
    font-family: var(--pro);
    line-height: 70%;
    font-weight: 100;
}

p {
    margin: 0;
    font-size: var(--clamp-txt);
    font-family: var(--txt);
}
li {
    list-style: none;
}

/* navbar */
.wrap-nav {
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--pink);
    border-radius: 5px;
}
.wrap-nav a:hover {
    text-decoration: underline;
}
.wrap-nav .radius {
    margin: 0 6px;
    padding: 4px 15px;
    border: 1px solid var(--pink);
    border-radius: 5px;
}
.wrap-nav .radius:hover {
    color: var(--crem);
    background-color: var(--pink);
    text-decoration: none;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    font-family: var(--pro);
    font-size: 2.3rem;
    font-weight: 900;
    margin: 0 3%;
}

/* hero */
.hero {
    width: 100vw;
    overflow-x: hidden;
}
.responsive {
    padding: 5% 0;
}
.txt-1 {
    position: relative;
    top: 0;
    left: 0;
}
.txt-1 h1 {
    text-align: center;
    font-size: var(--clamp-big);
    line-height: 80%;
    color: var(--ijo);
}
.txt-1 h1 span {
    color: var(--pink);
}
.txt-1 img {
    width: 20%;
    position: absolute;
    top: 45%;
    right: 5%;
    transform: rotateZ(20deg);
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black));
}
.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cta p {
    width: 70%;
    margin-top: 5%;
    text-align: center;
}
.btn-cta {
    margin: 5%;
}
.btn-cta a {
    padding: 10px;
    background-color: var(--ijo);
    color: var(--black);
    cursor: pointer;
    border-radius: 5px;
}
.btn-cta:hover a {
    background-color: var(--pink);
}


/* DCARDGM */
.dungeon-ads {
    padding: 0 5%;
}
.dungeon-ads h3 {
    position: relative;
    top: 0;
    left: 0;
    color: var(--pink);
}
.dungeon-ads h3 span {
    color: var(--ijo);
}
.dungeon-ads h3 img {
    width: 50px;
}
.dungeon-ads p {
    margin-top: 5%;
    padding: 5%;
    background-color: var(--pink);
    color: var(--black);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.wrap-about {
    background-color: var(--ijo);
    padding: 5%;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .4rem;

}
.col-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .4rem;
}
.rev {
    flex-direction: column-reverse;
}
.promise-ads {
    width: 100%;
    padding: 10px;
    color: var(--black);
}
.promise-ads p {
    margin-top: 15px;
}
.img-ads {
    width: 100%;
    overflow: hidden;
    background-color: var(--pink);
    border-radius: 5px;
}
.col-about img {
    width: 50%;
}

/* PRICE TAG */
.price-tag {
    margin: 10% auto;
}
.tit-price h1 {
    color: var(--pink);
}
.tit-price h3 {
    font-size: var(--clamp-sub);
    text-align: center;
    color: var(--ijo);
}
.tit-price p {
    margin-top: 10px;
    text-align: center;
    padding: 0 20%;
}
.wrap-price {
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.card-price {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5%;
    border: 1px solid var(--crem);
    border-radius: 5px;
}

.tit-pack {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.tit-pack h1 {
    text-align: start;
    font-size: var(--clamp-sub);
    color: var(--pink);
}

.price-pack h3 {
    margin-top: 10px;
    font-size: clamp(2.5rem, 2vw, 3rem);
    font-weight: 100;
    color: var(--ijo);
}
.price-pack p {
    text-decoration: line-through;
    text-align: center;
    margin-bottom: 5%;
}
.price-pack a {
    width: 100%;
    padding: 10px;
    font-size: var(--clamp-btn);
    font-family: var(--txt);
    font-weight: 100;
    color: var(--black);
    background-color: var(--ijo);
    border: 0;
    border-radius: 5px;
}
.price-pack a:hover {
    background-color: var(--pink);
}

.feat .line-feat {
    width: 100%;
    height: 3px;
    background-color: var(--ijo);
    border-radius: 5px;
}
.feat ul {
    list-style: square;
    padding: 0;
}
.feat ul li {
    font-family: var(--txt);
    font-size: var(--clamp-btn);
}

/* SERVICE */
.service ul {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin: 0;
    margin-top: 10px;
    padding: 0 5%;
}
.service ul li {
    font-family: var(--pro);
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    color: var(--pink);
    outline: 1px solid var(--pink);
    border-radius: 5px;
}
.service ul li:hover {
    background-color: var(--ijo);
    outline: 1px solid var(--ijo);
    color: var(--black);
}






/* FOOTER */
.footer {
    position: absolute;
}
canvas {
    height: 0px;
    margin: 0;
    padding: 0;
}
.wrap-txt {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.area-txt {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-txt a {
    margin-top: .4rem;
    padding: 20px;
    font-size: var(--clamp-btn);
    font-weight: 100;
    text-align: center;
    color: var(--black);
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.area-txt a:hover {
    background-color: var(--ijo);
}

.txt-footer {
    margin-top: 10%;
    text-align: center;
    color: var(--ijo);
}
.txt-footer span {
    color: var(--pink);
}
.txt-footer p {
    margin-top: .4rem;
    font-size: clamp(1rem, 5vw, 2rem);
}

.wrap-marquee marquee {
    text-align: center;
    font-family: var(--pro);
    font-size: var(--clamp-big);
    line-height: 65%;
    color: var(--ijo);
}
.wrap-marquee marquee span {
    color: var(--pink);
}




@media only screen and (min-width: 768px) {
    .responsive {
        padding: 2% 0;
    }
    .txt-1 img {
        width: 15%;
        top: 50%;
        right: 15%;
    }
    .cta p {
        margin-top: 0;
    }
    .dungeon-ads h3 img {
        width: 100px;
    }
    .col-about {
        flex-direction: row;
    }
    .wrap-price {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}
