* {
    box-sizing: border-box;
}

:root {
    --utama: "Abril Fatface", serif;
    --sub: "Yellowtail", cursive;
    --txt: "Bad Script", cursive;

    --hijau: #394e29;
}

body {
    background-color: #ffc563;
}

.context .wrap-cont {
    display: flex;
    justify-content: center;
}

.context .wrap-cont .circle {
    display: flex;
    justify-content: center;
}
.context .wrap-cont .circle span {
    display: block;
    position: absolute;
    background-color: #ffedd8;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.context .wrap-cont .texts {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--hijau);
    margin-top: 15%;
}
.context .wrap-cont .texts h2 {
    font-family: var(--txt);
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 80%;

}
.context .wrap-cont .texts .txt-utama {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.context .wrap-cont .texts h1 {
    font-family: var(--utama);
    font-size: 6rem;
    margin: 0;
    line-height: 110%;
}
.context .wrap-cont .texts h4 {
    position: absolute;
    top: 25px;
    font-family: var(--sub);
    font-size: 1.8rem;
    color: var(--hijau);
    background-color: #fff;
    margin: 0;
    padding: 0;
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
}
.context .wrap-cont .texts h3 {
    font-family: var(--utama);
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    line-height: 100%;

}
.context .wrap-cont .texts span {
    font-family: var(--txt);
    font-size: 2rem;
}
.context .wrap-cont .texts p {
    font-family: var(--txt);
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    margin: 0;
    margin-top: 5%;
}

.context .ketupat {
    position: absolute;
    top: 0;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
}
.context .ketupat img {
    width: 18%;
}

.grap {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 70vh;
}

.grap .wrap-grap {
    position: absolute;
    width: 100%;
    height: 70vh;
    border-top-right-radius: 40px;
    background-color: #ffc563;
    mask-image: radial-gradient(circle at top, transparent 0, transparent 90vw, black 1px);
}

.grap .center-grap {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.grap .center-grap .bg-moss {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.grap .center-grap .bg-moss img {
    width: 65%;
}

.grap .center-grap .moss {
    padding: 0 2%;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.grap .center-grap .moss .right {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
.grap .center-grap .moss img {
    width: 20%;
}

.grap .center-grap .people {
    position: absolute;
    bottom: 0;
    width: 80%;
}

.grap .center-grap .awan {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.grap .center-grap .awan .right {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
.grap .center-grap .awan img {
    width: 45%;
}
.grap .center-grap .herb {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.grap .center-grap .herb img {
  width: 40%;
}

.wrap-lamp {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.wrap-lamp img {
  width: 50%;
  margin-top: -25%;
}
.context .wrap-lamp img {
  width: 10%;
  margin-top: 60%;

}


.uby-wish {
  max-width: 700px;
  margin-top: 100vh;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .uby-wish {
    padding: 0 20px;
  }
}
.uby-wish-area {
  background-color: #ffc563;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 50px;
}
@media (max-width: 767px) {
  .uby-wish-area {
    padding: 20px;
  }
}
.uby-wish-area form .form-group button:hover {
  text-shadow: 1px 2px #fff;
  box-shadow: 1px 2px 5px #a4692a;
}
.uby-testimony {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-top: 50px;
}
@media (max-width: 767px) {
  .uby-testimony {
    padding: 50px 20px;
  }
}
.uby-testimony-area-list {
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 20px;
}


#myModal .modal-dialog .modal-content .circle span {
  display: block;
  position: absolute;
  left: 15px;
  top: -200px;
  background-color: #ffedd8;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#myModal {
    border: 0;
}
  #myModal .modal-dialog {
    width: 100vw !important;
    margin: 0 !important;
    border-radius: 0 !important;
    position: relative;
  }
  #myModal .modal-dialog .modal-content {
    border-radius: 0 !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    border: none;
    position: relative;
    background-color: #ffc563;
  }
  #myModal .modal-dialog .modal-content .ketupat {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
  }
  #myModal .modal-dialog .modal-content .ketupat .Right {
    transform: scaleX(-1);
  }
  #myModal .modal-dialog .modal-content .ketupat img {
    width: 20%;
  }
  #myModal .modal-dialog .modal-content .modal-body {
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: center -20%;
  }
  @media (max-width: 767px) {
    #myModal .modal-dialog .modal-content .modal-body {
      background-size: contain;
      background-position: center top;
    }
  }
  #myModal .modal-dialog .modal-content .modal-body-text {
    text-align: center;
    display: block;
    padding-top: 100px;
    z-index: 999;
  }
  @media (max-width: 767px) {
    #myModal .modal-dialog .modal-content .modal-body-text {
      padding-top: 15rem;
    }
  }
  #myModal .modal-dialog .modal-content .modal-body-text > p {
    line-height: 1;
    color: white;
  }
  #myModal .modal-dialog .modal-content .modal-body-text > p:nth-child(1) {
    font-size: 14px;
    margin-bottom: 10px;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-logo {
    text-align: center;
    margin-top: 75px;
    width: 100%;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-logo img {
    width: 250px;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-invite {
    align-self: flex-end;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 0px;
    width: 100%;
    max-width: 500px;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-invite.noname {
    background: none;
  }
  @media (max-width: 767px) {
    #myModal .modal-dialog .modal-content .modal-body-text-invite {
      padding: 15px 20px 0px 20px;
    }
  }
  #myModal .modal-dialog .modal-content .modal-body-text-invite > p {
    color: #3c3c3c;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 30px;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-invite > p span {
    font-size: 18px;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope {
    /* Lid when closed */
    /* Lid when opened */
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .wrapper {
    height: 200px;
    width: 300px;
    background-color: #825a21;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .wrapper.zoom-inv {
    -webkit-animation: zoomin 1s linear 1;
    animation: zoomin 1s linear 1;
    transform-origin: top center;
    animation-direction: normal;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .wrapper .guest {
    position: absolute;
    z-index: 99;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #000000;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .lid.one {
    border-top-width: 100px;
    border-style: solid;
    border-image: linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .lid.two {
    border-top: 100px solid #d89841;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #f3e9dd;
    border-bottom: 100px solid #f3e9dd;
    border-left: 150px solid #f3e9dd;
    z-index: 3;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .letter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .letter p {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #3B4049;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .wrapper.open-inv .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .wrapper.open-inv .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
  }
  #myModal .modal-dialog .modal-content .modal-body-text-envelope .wrapper.open-inv .letter {
    transform: translateY(-75px);
    transition-delay: 0.5s;
  }
  #myModal .modal-dialog .modal-content .modal-body-text button {
    align-self: flex-end;
    color: #a4692a;
    font-weight: bold;
    text-shadow: 1px 1px #ffffff;
    outline: 0 !important;
    border: none !important;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 70px 10px 70px;
    background-image: repeating-linear-gradient(45deg, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
    background-size: 150%;
    filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
    animation: MoveBackgroundPosition 6s ease-in-out infinite;
  }
  
  @keyframes MoveBackgroundPosition { 
    0% {
        background-position: 0% 50%
    }
    
    50% {
      background-position: 100% 50%
    }
    
    100% {
      background-position: 0% 50%
    }
  }
  
  #myModal .modal-dialog .modal-content .modal-body-text button:hover {
    text-shadow: 1px 2px #fff;
    box-shadow: 1px 2px 5px #a4692a;
  }

